<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%=titlemsg%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--===============================================================================================-->
    	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    	<link rel="stylesheet" type="text/css" href="css/util.css">
    	<link rel="stylesheet" type="text/css" href="css/main.css">

  </head>
  <body >
    <header>
     <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
       <a class="navbar-brand" href="/">TerasysHUB</a>
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarCollapse">
         <ul class="navbar-nav mr-auto">



           <li class="nav-item">
             <a class="nav-link" href="/register">Register</a>
           </li>

         </ul>
        <ul class="navbar-nav navbar-right">

          <li><a class="nav-link" href="/logout">LogOut</a></li>

        </ul>
       </div>
     </nav>
   </header>
   <br><br><br>
<div class="container">
  <%if(messages.success){%>
  <div class="success alert alert-success">
    <%=messages.success%>
  </div>
  <%}%>



<%if (errormsgs) {%>
  <% for (let i=0; i < errormsgs.length; i++) {%>
    <div class="alert alert-danger"><%= errormsgs[i].msg%></div>
  <%}%>
<%}%>


  	<div class="limiter">
  		<div class="container-login100">
  			<div class="login100-more" style="background-image: url('images/bg-01.jpg');"></div>

  			<div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
  				<form class="login100-form validate-form" action="/register" method="post">
  					<span class="login100-form-title p-b-59">
  							Register
  					</span>

  					<div class="wrap-input100 validate-input" data-validate="Name is required">
  						<span class="label-input100">Username</span>
  						<input class="input100" type="text" name="username" placeholder="Name...">
  						<span class="focus-input100"></span>
  					</div>

  					<div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
  						<span class="label-input100">Email address</span>
  						<input class="input100" type="text" name="email" placeholder="Email addess...">
  						<span class="focus-input100"></span>
  					</div>

  					<div class="wrap-input100 validate-input" data-validate = "Password is required">
  						<span class="label-input100">Password</span>
  						<input class="input100" type="password" name="password" placeholder="*************">
  						<span class="focus-input100"></span>
  					</div>

  					<div class="wrap-input100 validate-input" data-validate = "Repeat Password is required">
  						<span class="label-input100">Confirm Password</span>
  						<input class="input100" type="password" name="confirmpassword" placeholder="*************">
  						<span class="focus-input100"></span>
  					</div>

  					<div class="container-login100-form-btn">
  						<div class="wrap-login100-form-btn">
  							<div class="login100-form-bgbtn"></div>
  							<button class="login100-form-btn">
  								Register
  							</button>
  						</div>


  					</div>
  				</form>
  			</div>
  		</div>
  	</div>


  <!--===============================================================================================-->
  	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
  <!--===============================================================================================-->
  	<script src="vendor/animsition/js/animsition.min.js"></script>
  <!--===============================================================================================-->
  	<script src="vendor/bootstrap/js/popper.js"></script>
  	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
  <!--===============================================================================================-->
  	<script src="vendor/select2/select2.min.js"></script>
  <!--===============================================================================================-->
  	<script src="vendor/daterangepicker/moment.min.js"></script>
  	<script src="vendor/daterangepicker/daterangepicker.js"></script>
  <!--===============================================================================================-->
  	<script src="vendor/countdowntime/countdowntime.js"></script>
  <!--===============================================================================================-->
  	<script src="js/main.js"></script>

  </body>
  </html>
